apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  replicas: 1
  template:
    spec:
      initContainers:
      - name: migration
        image: alpine
        volumeMounts:
        - name: old
          mountPath: /old
        - name: data
          mountPath: /new
        command:
        - sh
        - -c
        - |
          apk add rsync
          rsync -az /old/ /new
      containers:
      - name: web
        image: karakeep
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        env:
        - name: MEILI_ADDR
          value: http://meilisearch:7700
        - name: BROWSER_WEB_URL
          value: http://chrome:9222
        - name: DATA_DIR
          value: /data
        # Add OPENAI_API_KEY to the ConfigMap if necessary
        volumeMounts:
        - mountPath: /data
          name: data
        envFrom:
        - secretRef:
            name: karakeep-secrets
        - secretRef:
            name: meilisearch-secrets
        - configMapRef:
            name: karakeep-configuration
      volumes:
      - name: old
        persistentVolumeClaim:
          claimName: data-pvc
      - name: data
        persistentVolumeClaim:
          claimName: karakeep
