apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-pvc
spec:
  storageClassName: nfs-qnap
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: karakeep
spec:
  storageClassName: truenas-iscsi-general
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
