[submodule "ansible/kubespray"]
	path = ansible/kubespray
	url = https://github.com/kubernetes-sigs/kubespray.git
[submodule "kubernetes/argocd/helm/argocd-helm"]
	path = kubernetes/argocd/helm/argocd-helm
	url = https://github.com/argoproj/argo-helm.git
[submodule "kubernetes/cert-manager/helm/cert-manager"]
	path = kubernetes/cert-manager/helm/cert-manager
	url = https://github.com/cert-manager/cert-manager.git
[submodule "kubernetes/external-dns/helm/external-dns"]
	path = kubernetes/external-dns/helm/external-dns
	url = https://github.com/kubernetes-sigs/external-dns.git
[submodule "kubernetes/kube-system/sealed-secrets/helm/sealed-secrets"]
	path = kubernetes/kube-system/sealed-secrets/helm/sealed-secrets
	url = https://github.com/bitnami-labs/sealed-secrets.git
[submodule "kubernetes/metallb-system/helm/metallb"]
	path = kubernetes/metallb-system/helm/metallb
	url = https://github.com/metallb/metallb.git
[submodule "kubernetes/logging/loki/helm/helm-charts"]
	path = kubernetes/logging/loki/helm/helm-charts
	url = https://github.com/grafana/helm-charts.git
[submodule "kubernetes/logging/promtail/helm/helm-charts"]
	path = kubernetes/logging/promtail/helm/helm-charts
	url = https://github.com/grafana/helm-charts.git
