---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: backup
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: truenas-iscsi-general
