apiVersion: apps/v1
kind: Deployment
metadata:
  name: webui
spec:
  replicas: 1
  template:
    spec:
      initContainers:
      - name: migration
        image: alpine
        volumeMounts:
        - name: old
          mountPath: /old
        - name: data
          mountPath: /new
        command:
        - sh
        - -c
        - |
          apk add rsync
          rsync -az /old/ /new
      containers:
      - name: webui
        image: webui
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: "500m"
            memory: "800Mi"
          limits:
            cpu: "500m"
            memory: "800Mi"
        env:
        - name: OLLAMA_BASE_URL
          value: http://models:11434
        volumeMounts:
        - name: data
          mountPath: /app/backend/data
      volumes:
      - name: old
        persistentVolumeClaim:
          claimName: webui
      - name: data
        persistentVolumeClaim:
          claimName: web
