apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: webui
spec:
  accessModes:
  - ReadWriteMany
  storageClassName: nfs-qnap
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: web
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: truenas-iscsi-general
  resources:
    requests:
      storage: 5Gi
