apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  labels:
    app.kubernetes.io/instance: prom-k8s
  name: k8s
spec:
  disableCompaction: false
  externalLabels:
    cluster: k0
    prom_shard: "$(SHARD)"
  image: quay.io/prometheus/prometheus:VERSION
  podMonitorNamespaceSelector: {}
  podMonitorSelector: {}
  replicas: 1
  resources:
    limits:
      cpu: 600m
      memory: 600Mi
    requests:
      cpu: 400m
      memory: 400Mi
  retention: 12h
  securityContext:
    fsGroup: 65534
    runAsGroup: 65534
    runAsUser: 65534
  serviceAccountName: prometheus
  serviceMonitorNamespaceSelector: {}
  serviceMonitorSelector: {}
  shards: 15
  storage:
    volumeClaimTemplate:
      spec:
        resources:
          requests:
            storage: 10Gi
        storageClassName: nfs-qnap
  thanos:
    image: quay.io/thanos/thanos:VERSION
    version: v0.40.1
    additionalArgs:
    - name: shipper.skip-corrupted-blocks
  version: v3.8.0
