---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: thanos-objstore-config
  namespace: monitoring
spec:
  encryptedData:
    access-key: AgAWPcsklTcIVh7ufWkd2i3hpdhtl7gGDGJemPiRDiqPUStjTmcKa80n1z9cqhLjV0CG7+zEdjYp2jZbcPdkgiugtsUZPP4bXndniSAZTEaelgAMu5OOEAlxliJg/PhJObnF+kNc/1sZD2hfbHlZcknaS+otQl6w2vVBY68f+aQNPCwiCH4Z7cgN0da/0SBQ6o541Na+kLhh6L35qYQxGbQa2xp/WV49a+SKfLhLYm6zUN7v4zeQcTKhSFgFc5aV6Xx4fmfH5dw5VoxV4Xj3vis2zElOtKP5yf35gIoadyIDYnF0RDNb/XGK+uyz5P5l1+lIj/8Cp6u8ZzKGl+99HM+iKIJiqmlCOL+Z2ShcgdrOogNlKJBpF6Z36wdUiuP1MyHWfe9PrHFZTIJbC3Rd7NySqaz31JP+6ATisSgB43O1xDj3u+pqc0d5teRFJgS3EJ1JvSFoI7fQ4re9EnC2LzBumKQgxvT8CTtH3cBG7cfX+insjxmP5931kdsSY8oskQVo79sIn2Y2ejO+LsWvrT80CZuAx1emaX82GBHcdxMFbxbiNlxGH9DiyX9H/r6MC8cx2zViw6vIOTT25T/zShcSESQWLHxCmFAZeUkjX0GM0QbOFDFPh6UfOLUVyh7i6QX8bCKoRZdOVmEVNURmKfm5VNGjKkbebSdbCv/aJXMs9cEH0p/o1mXA0w0MXz3lM0IfXbsJLa37IrKpLTuYBEKUPIcxODoD4qKLWrMOuUZfkw==
    secret-key: AgCEmPGvnVZnTvoXSQhd8ka7tvuSf8xM3gyVsd4Y/75F3GmRi9ROMsORWrb3GP+RLlb86SwTnhXRcsbLSoyaTvIg1Tt9SZruAi3XICrT6FD8cVORNi29huyJhIybh42pm5GCdl0RK9oPo1ScQuzPbZWx5eJd0nV+5tjpuFGkrNaM2iFRqwZIgNXd7O8jJQleU+f0vTVfp+7XdjmFWwtiR66Datkvg2DywNSePworwhJNJL+bCVc95IAU0cZKBgqH099fpdMnLKvxgyQhwgTv3IINWLbFDmqQCraMj5KGt8KxGrSQVPMH1NGyOBzK07snQQ1MC+bEIvJviiBJdWP0hQT/8xzUZlwTwq0Rqfg/JczgjkCNQgmSe9yRH0swkYtTStigtP14q+rS4rruNEEKcJ4wh9OYppOZLFjOsiRue4QiuUlQ+N5/jWcVMr4wQgT7Tnpuds/CCgEuL0ubvUJafV4W5qC7J8XWPgw37AA3BuIIWHlld5RAAt/Vr2Hral+/bxHXmtMM2oDCwnl9iyYqAbimI77UiHIy0qKHad6od4eVpbiAAW/3TsLfV1RmM+HlisM2S+CSLc1k2p1us9vGiCLdTMmhCr/JZKzpE1GJGa1p4EmaEKgSLEg+1bp/XxXVnv1bu/ZuAtDZHf9Ok3SBTR52pLcg96FdkmtULCU3f/xn5siO9TjrYxN/btrhZB1nVR+evxBGeLZKuDXDhReI2oUe8/VvlGhdITR/xVnaiCYjIg==
  template:
    data:
      thanos.yaml: |
        type: S3
        config:
          bucket: "prometheus"
          endpoint: "seaweedfs-s3.internal.yuha0.com"
          signature_version2: false
          access_key: {{ index . "access-key" }}
          secret_key: {{ index . "secret-key" }}
    metadata:
      creationTimestamp: null
      name: thanos-objstore-config
      namespace: monitoring
