data_dir: "{{ vector_data_dir }}"
timezone: local

sources:
  ulog_syslogemu:
    type: file
    include:
    - /var/log/ulog/syslogemu.log
    glob_minimum_cooldown_ms: 60000
    line_delimiter: "\n"

sinks:
  {{ vector_sink_name }}:
    type: "http"
    inputs:
    - ulog_syslogemu
    uri: {{ vector_sink_http_uri }}
    buffer:
      max_size: 268435488
      type: disk
    encoding:
      codec: json
