- name: Install required packages
  apt:
    name: '{{ item }}'
    update_cache: yes
    cache_valid_time: 3600
  with_items: '{{ packages }}'
  tags:
  - packages

- name: sudoers
  lineinfile:
    path: /etc/sudoers
    state: present
    regexp: "^{{ ansible_user }} ALL="
    line: "{{ ansible_user }} ALL=(ALL) NOPASSWD: ALL"
  tags:
  - sudoers

- name: authorized_keys
  authorized_key:
    user: "{{ ansible_user }}"
    state: present
    key: "{{ item }}"
  with_file:
  - id_ed25519.pub
  tags:
  - ssh

- name: swap - remove current swaps from fstab
  lineinfile:
    dest: /etc/fstab
    regexp: '^.*\s+swap\s+.*'
    state: absent
  tags:
  - swap

- name: Disable swap
  command: /sbin/swapoff -a
  when: ansible_swaptotal_mb > 0
  tags:
  - swap

- name: Ensure lv size
  community.general.lvol:
    vg: '{{ inventory_hostname }}-vg'
    lv: var
    size: 80%VG
    force: yes
  when: ansible_architecture == "x86_64"
  tags:
  - lvm

- name: resize fs
  community.general.filesystem:
    fstype: ext4
    dev: '/dev/mapper/{{ inventory_hostname }}--vg-var'
    resizefs: yes
  when: ansible_architecture == "x86_64"
  tags:
  - lvm
