apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: grafana
spec:
  destinations:
  - namespace: "grafana"
    server: https://kubernetes.default.svc
  clusterResourceWhitelist:
  - group: ''
    kind: Namespace
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
spec:
  project: grafana
  source:
    path: kubernetes/grafana
  destination:
    namespace: grafana
  syncPolicy:
    syncOptions:
    - ServerSideApply=true
