resources:
- adguardhome.yaml
- awx.yaml
- argocd.yaml
- batteries.yaml
- cert-manager.yaml
- cilium.yaml
- cloudflare-ddns.yaml
- cloudnative-pg.yaml
- democratic-csi.yaml
- external-dns.yaml
- external-service-accounts.yaml
- grafana.yaml
- homebridge.yaml
- hubble.yaml
- ingress-nginx.yaml
- invidious.yaml
- karakeep.yaml
- kube-state-metrics.yaml
- kube-system.yaml
- logging.yaml
- node-exporter.yaml
- ollama.yaml
- plex.yaml
- prometheus.yaml
- seaweedfs.yaml
- scrypted.yaml
- sealed-secrets.yaml
- system-service-monitors.yaml
- tailscale.yaml
- tandoor.yaml
- truenas.yaml
- unifi.yaml

patches:
# Both Project and Application should have resource finalizer
- target:
    group: argoproj.io
  patch: |-
    - op: add
      path: /metadata/finalizers
      value:
      - resources-finalizer.argocd.argoproj.io
# Peg allowed repositories/signature for all projects
- target:
    group: argoproj.io
    kind: AppProject
  patch: |-
    - op: add
      path: /spec/sourceRepos
      value:
      - "https://github.com/yuha0/home-infra.git"
    - op: add
      path: /spec/signatureKeys
      value:
      - keyID: CD67D78AC53D68C5
- target:
    group: argoproj.io
    kind: Application
  patch: |
    apiVersion: argoproj.io/v1alpha1
    kind: Application
    metadata:
      name: ignored
    spec:
      source:
        repoURL: https://github.com/yuha0/home-infra.git
        targetRevision: HEAD
      destination:
        server: https://kubernetes.default.svc
      syncPolicy:
        automated:
          allowEmpty: true
          prune: true
          selfHeal: true
