---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: prometheus
spec:
  destinations:
  - namespace: "monitoring"
    server: https://kubernetes.default.svc
  clusterResourceWhitelist:
  - group: ''
    kind: Namespace
  - group: apiextensions.k8s.io
    kind: CustomResourceDefinition
  - group: rbac.authorization.k8s.io
    kind: ClusterRole
  - group: rbac.authorization.k8s.io
    kind: ClusterRoleBinding
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-operator
spec:
  project: prometheus
  source:
    path: kubernetes/prometheus-operator
  destination:
    namespace: monitoring
  syncPolicy:
    syncOptions:
    - ServerSideApply=true
    - ClientSideApplyMigration=false
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
spec:
  project: prometheus
  source:
    path: kubernetes/prometheus
  destination:
    namespace: monitoring
