apiVersion: v1
kind: Service
metadata:
  name: plex
spec:
  clusterIP: None
  ports:
  - name: plex-web
    protocol: TCP
    port: 32400
    targetPort: 32400

---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: plex
spec:
  replicas: 1
  serviceName: plex
  template:
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
        kubernetes.io/hostname: mini0
      securityContext:
        fsGroup: 1000
      initContainers:
      - name: migration
        image: alpine
        volumeMounts:
        - name: config
          mountPath: /config
        - name: db
          mountPath: /migr
        command:
        - sh
        - -c
        - |
          apk add rsync
          rsync -az /config /migr
      containers:
      - name: plex
        image: docker.io/plexinc/pms-docker
        imagePullPolicy: Always
        ports:
        - containerPort: 32400
          name: plex-web
        env:
        - name: TZ
          value: "America/Los_Angeles"
        - name: PLEX_UID
          value: "1000"
        - name: PLEX_GID
          value: "1000"
        - name: ADVERTISE_IP
          value: https://plex.internal.yuha0.com
        - name: CHANGE_CONFIG_DIR_OWNERSHIP
          value: "false"
        - name: ALLOWED_NETWORKS
          value: "10.0.0.0/8,100.64.0.0/16"
        - name: PLEX_CLAIM
          valueFrom:
            secretKeyRef:
              name: claim-code
              key: code
              optional: true
        volumeMounts:
        - name: db
          mountPath: /config
        - name: transcode
          mountPath: /transcode
        - name: media
          mountPath: /media
      volumes:
      - name: transcode
        emptyDir: {}
      - name: config
        hostPath:
          path: /var/pv/plex-0
          type: DirectoryOrCreate
      - name: media
        persistentVolumeClaim:
          claimName: media
      - name: db
        persistentVolumeClaim:
          claimName: db
