apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: ollama
spec:
  endpointSelector:
    matchLabels:
      app.kubernetes.io/part-of: ollama
  ingress:
  - fromEndpoints:
    - {}
  - fromEndpoints:
    - matchLabels:
        app.kubernetes.io/name: ingress-nginx
        app.kubernetes.io/component: controller
        io.cilium.k8s.namespace.labels.app.kubernetes.io/name: ingress-nginx
      matchExpressions:
      - key: io.kubernetes.pod.namespace
        operator: Exists
  egress:
  - toEntities:
    - host
    toPorts:
    - ports:
      - port: "53"
        protocol: UDP
      - port: "53"
        protocol: TCP
      rules:
        dns:
        - matchPattern: "*"
  - toEndpoints:
    - {}
  - toCIDRSet:
    - cidr: 0.0.0.0/0
      except:
      - 10.0.0.0/8
    toPorts:
    - ports:
      - port: "80"
      - port: "443"
