namespace: homebridge
commonLabels:
  app.kubernetes.io/name: homebridge
resources:
- namespace.yaml
- volume.yaml
- statefulset.yaml
- ingress.yaml

images:
- name: homebridge
  newName: docker.io/homebridge/homebridge
  newTag: "2025-11-27"

patches:
- target:
    group: apps
  patch: |-
    - op: add
      path: /spec/template/spec/affinity
      value:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app.kubernetes.io/component
                operator: In
                values:
                - mdns
            topologyKey: kubernetes.io/hostname
