apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: homebridge
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: nfs-qnap
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data
spec:
  storageClassName: "truenas-iscsi-general"
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
