apiVersion: apps/v1
kind: Deployment
metadata:
  name: meilisearch
spec:
  strategy:
    type: Recreate
  replicas: 1
  template:
    spec:
      initContainers:
      - name: migration
        image: alpine
        volumeMounts:
        - name: old
          mountPath: /old
        - name: meilisearch
          mountPath: /new
        command:
        - sh
        - -c
        - |
          apk add rsync
          rsync -azP /old/ /new

      - name: import
        image: meilisearch
        env:
        - name: MEILI_NO_ANALYTICS
          value: "true"
        volumeMounts:
        - mountPath: /meili_data
          name: meilisearch
        - mountPath: /meili_migration
          name: meilisearch-migration
        envFrom:
        - secretRef:
            name: meilisearch-secrets
        command: ["/bin/sh", "/meili_migration/import.sh"]

      containers:
      - name: meilisearch
        image: meilisearch
        env:
        - name: MEILI_NO_ANALYTICS
          value: "true"
        volumeMounts:
        - mountPath: /meili_data
          name: meilisearch
        - mountPath: /meili_migration
          name: meilisearch-migration
        envFrom:
        - secretRef:
            name: meilisearch-secrets
        lifecycle:
          preStop:
            exec:
              command: ["/bin/sh", "-c", "/bin/sh /meili_migration/dump.sh > /proc/1/fd/1"]
      volumes:
      - name: old
        persistentVolumeClaim:
          claimName: meilisearch-pvc
      - name: meilisearch
        persistentVolumeClaim:
          claimName: meilisearch
      - name: meilisearch-migration
        configMap:
          name: meilisearch-migration
