apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: meilisearch
spec:
  storageClassName: truenas-iscsi-general
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
