apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: models
spec:
  serviceName: models
  replicas: 1
  template:
    spec:
      containers:
      - name: models
        image: ollama
        ports:
        - containerPort: 11434
        resources:
          requests:
            cpu: "2000m"
            memory: "16Gi"
        volumeMounts:
        - name: models
          mountPath: /root/.ollama
      volumes:
      - name: models
        persistentVolumeClaim:
          claimName: models
