apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: truenas
spec:
  endpoints:
  - interval: 10s
    port: metrics
  selector:
    matchLabels:
      app.kubernetes.io/component: metrics
