namespace: tailscale
commonLabels:
  app.kubernetes.io/name: tailscale
resources:
- namespace.yaml
- rbac.yaml
- sealed-tailscale-auth.yaml
- statefulset.yaml

configMapGenerator:
- name: config
  literals:
  - TS_USERSPACE=true
  - TS_NO_LOGS_NO_SUPPORT=true
  - TS_ROUTES=10.0.0.0/8
  - TS_EXTRA_ARGS="--stateful-filtering=false"

images:
- name: tailscale
  newName: ghcr.io/tailscale/tailscale
  newTag: v1.90.6

patches:
- target:
    group: apps
    kind: StatefulSet
    name: subrouter
  patch: |-
    - op: add
      path: /spec/replicas
      value: 5
