namespace: grafana
resources:
- namespace.yaml
- db
- sealed-grafana-admin.yaml
- rbac.yaml
- internal
- external
- dashboards
configMapGenerator:
- files:
  - datasources.yaml
  name: grafana-provisioning-datasources
- files:
  - providers.yaml
  name: grafana-provisioning-providers
images:
- name: grafana
  newName: docker.io/grafana/grafana
  newTag: 11.6.9
- name: k8s-sidecar
  newName: docker.io/kiwigrid/k8s-sidecar
  newTag: 2.4.0
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/name: grafana
