namespace: unifi
resources:
- namespace.yaml
- networkpolicies.yaml
- unpoller
- logging
- proxy
- backup

images:
- name: geoipupdate
  newName: ghcr.io/maxmind/geoipupdate
  newTag: v7.1.1
- name: vector
  newName: docker.io/timberio/vector
  newTag: 0.52.0-distroless-libc
- name: unpoller
  newName: ghcr.io/unpoller/unpoller
  newTag: v2.21.0
