namespace: cnpg-system
resources:
- namespace.yaml
- generated.yaml
- networkpolicies.yaml
- podmonitor.yaml
patches:
- target:
    kind: CustomResourceDefinition
  patch: |-
    - op: add
      path: /metadata/annotations/argocd.argoproj.io~1sync-options
      value: ServerSideApply=true
