apiVersion: v1
kind: Service
metadata:
  name: scrypted
spec:
  ports:
  - name: ui
    port: 10443
    targetPort: 10443

---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: scrypted
spec:
  replicas: 1
  serviceName: scrypted
  template:
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      hostNetwork: true
      volumes:
      - name: old
        persistentVolumeClaim:
          claimName: scrypted
      - name: data
        persistentVolumeClaim:
          claimName: data

      initContainers:
      - name: migration
        image: alpine
        volumeMounts:
        - name: old
          mountPath: /old
        - name: data
          mountPath: /new
        command:
        - sh
        - -c
        - |
          apk add rsync
          rsync -azP /old/ /new

      containers:
      - name: scrypted
        image: scrypted
        imagePullPolicy: Always
        ports:
        - name: ui
          containerPort: 10443
        volumeMounts:
        - name: data
          mountPath: /server/volume
